# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log

# Python local venv (boto3 for amazon.aws)
.venv/

# Ansible
*.retry
.ansible/
.ansible/tmp/
collections/
inventory/generated/hosts.yml
inventory/generated/terraform_outputs.yml

# Secrets / local overrides
*.auto.tfvars
secrets.yml
.env
.env.aap
.ansible-extra-vars.yml

# Packer
packer/manifest.json
packer/.packer-run.auto.pkrvars.hcl
packer/.packer/
packer/packer.auto.pkrvars.hcl

# OS
.DS_Store
