[galaxy]
server_list = automation_hub, release_galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://console.redhat.com/api/auth/v1/token/
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3Nzk5NjAwNzUsImp0aSI6IjE5Nzg3OTg1LWNmZGEtNDcwMi05OGNmLTNlYWE0ZmEzNzUwNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NzgxOTQ3MCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiZjlkNjdlZjYtOGVmNC00Y2NmLWE5NTAtYjQ0MjdkMWU0Y2Q1Iiwic2lkIjoiZDg4ODVjYmEtMjU2OS00NWQ5LWIxOWMtNzA1YzliMzI4ODE1Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.u3kgNZO2-K96SHd23udBdqaHvUuAc04OjTwN-5fsdgLjFL7MxxEIgfbdyZTsgEr-0aSKCE1KS1GOZXUgqUNroQ

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
